<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='../static/accueil.css' rel='stylesheet' type='text/css'>
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <title>Accueil</title>
</head>
<body>
  <div class="container">
    <header>
      <h2><a href="#"> BasketStats</a></h2>
    </header>
    <div class="cover">
      <h1>Quelles statistiques t'intéressent ?</h1>
      <!-- formulaire pour la recherche de joueurs -->
      <form  class="flex-form" action="resultsearchjoueur" method="post">
        <label id="label">Joueur</label>
        <input placeholder="Nom" name="nom">
        <input placeholder="Prénom" name="prenom">
        <button>Rechercher</button>
      </form>
      <!-- formulaire pour la recherche d'équipes -->

      <form  class="flex-form" action="equipe" method="post">
        <label id="label">Equipe</label>
        <select name="equipeSearch" size="1">
          {% for equipe in equipes %}
          <option value={{equipe[0]}}> {{equipe[1]}} de {{equipe[2]}} </option>
          {% endfor %}
        </select>  
        <button>Rechercher</button>
      </form>
      <!-- formulaire pour la recherche de parties -->
      <form  class="flex-form" action="resultsearchpartie" method="post">
        <label id="label">Partie</label>
        <select name="equipelocal" size="1">
          {% for equipe in equipes %}
          <option value={{equipe[0]}}> {{equipe[1]}} de {{equipe[2]}} </option>
          {% endfor %}
        </select>  
        <select name="equipevisiteur" size="1">
          {% for equipe in equipes %}
          <option value={{equipe[0]}}> {{equipe[1]}} de {{equipe[2]}} </option>
          {% endfor %}
        </select>  
        <input type="date" name="dateDebut">
        <input type="date" name="dateFin">
        <button>Rechercher</button>
      </form>
    </div>
  </div>

</body>
</html>