<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='../static/joueur.css' rel='stylesheet' type='text/css'>
   <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <title>Joueur</title>
</head>
<body>
  <div class="container">
    <header>
      <h2><a href="/"> BasketStats</a></h2>
      <nav>
        <ul>
          <li>
            <a href="/" title="Recherche"> Retour à la recherche</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- bloc d'informations sur le joueur -->
    <div class="joueur">
      <div class="action">
        <h1> <span class="info">{{nom}} {{prenom}} </span></h1>
      </div>
      <!-- bloc d'informations perso sur le joueur-->
      <div class="perso">
       <h2> Informations personnelles : </h2>
       <p> Pays : <span class="info">{{pays}}</span></p>
       <p> Equipe : <span class="info">{{equipe}}</span></p>
       <p> Numéro de dossard: <span class="info">{{numero}} </span></p>
       <p> Position : <span class="info">{{position}}</span></p>
       <p> Date de naissance : <span class="info">{{naissance}}</span></p>
       <p> Taille : <span class="info">{{taille}} </span> ft</p>
       <p> Poids : <span class="info">{{poids}}</span> lbs</p>
       <p> Distance bras : <span class="info">{{bras}}</span> ft</p>
     </div>
     <!-- bloc concernant les statistiques de ce joueur -->
     <div class="stats">
      <h2>Statistiques personnelles : </h2>
      <p> Nombre de parties jouées : {{nb_partie}} </p>
      <p> Moyenne des points marqués par partie : {{moy_point}} </p>
      <p> Moyenne des assistances par partie : {{moy_assiste}}</p>
      <p> Moyenne des rebonds par partie : {{moy_rebond}} </p>
      <p> Pourcentage des paniers à 2 points : {{pourcentage_2pt}} %</p>
      <p> Pourcentage des paniers à 3 points : {{pourcentage_3pt}} %</p>
      <p> Pourcentage de lancers francs : {{pourcentage_lancer_franc}} %</p>
      <p> Moyenne du temps joué par partie : {{moy_min}} min </p>
      <p> Moyenne des vols de balle par partie : {{moy_vol_balle}} </p>
      <p> Moyenne des revirements par partie : {{moy_revirement}} </p>
      <p> Moyenne des fautes par partie : {{moy_faute}} </p>
    </div>
  </div>  

</div>

</body>
</html>