<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='../../static/joueur.css' rel='stylesheet' type='text/css'>
   <link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <title>Partie</title>
</head>
<body>
  <div class="container">
    <header>
      <h2><a href="/"> BasketStats</a></h2>
      <nav>
        <ul>
          <li>
            <a href="/" title="Recherche"> Retour à la recherche</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- bloc d'informations sur la partie -->
    <div class="partie">
      <!-- bloc d'informations générales sur la partie -->
      <div class="general">
       <h2> Informations générales : </h2>
       <p> Saison: <span class="info">{{info[0]}} </span></p>
       <p> Type :<span class="info"></span> </p>
       <p> Date :<span class="info"> {{info[3]}} </span></p>
       <p> Ville : <span class="info">{{info[2]}}</span></p>
     </div>
     <div class="equipe1">
      <h2> Equipe locale </h2>
      <h2> <span class="info">{{equipes[0]}} </span></h2>
      <h2> {{scores[0]}} Pts</h2>
    </div>
    <div class="equipe2">
      <h2> Equipe adverse </h2>
      <h2><span class="info">{{equipes[1]}}</span> </h2>
      <h2> {{scores[1]}} Pts </h2>
    </div>
  </div> 
  <!-- bloc d'informations sur l'équipe locale jouant la partie -->
  <div class="cover">
    <h1><span class="info">{{equipes[0]}}</span> : liste des joueurs </h1>
    <table class="list list-horizontal list-highlight">
      <thead>
        <tr>
          <th> Numéro </th>
          <th> Nom </th>
          <th> Prénom </th>
          <th> Rôle</th>
          <th> Temps de jeu </th>
          <th> Points marqué </th>
          <th> Lancer franc </th>
          <th> Panier à 2pts </th>
          <th> Panier à 3 pts </th>
          <th> Fautes </th>
          <th> Rebond </th>
          <th> Revirement </th>
          <th> Vol de balle </th>
          <th> Assistance </th>
        </tr>
      </thead>
      <tbody>
       {% for joueur in joueurs1 %}
       <tr onclick="document.location='/joueur/{{joueur[0]}}'">
        <td> {{joueur[1]}} </td>
        <td> {{joueur[2]}} </td>
        <td> {{joueur[3]}} </td>
        <td> {{joueur[4]}} </td>
        <td> {{joueur[5]}} min </td>
        <td> {{joueur[10]+2*joueur[11]+3*joueur[12]}} </td>
        <td> {{joueur[10]}}</td>
        <td> {{joueur[11]}} </td>
        <td> {{joueur[12]}} </td>
        <td> {{joueur[6]}}</td>
        <td> {{joueur[7]}}</td>
        <td> {{joueur[8]}} </td>
        <td> {{joueur[13]}} </td>
        <td> {{joueur[9]}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- bloc d'informations sur l'équipe adverse jouant la partie -->
<div class="cover">
  <h1><span class="info">{{equipes[1]}}</span> : liste des joueurs </h1>
  <table class="list list-horizontal list-highlight">
    <thead>
      <tr>
        <th> Numéro </th>
        <th> Nom </th>
        <th> Prénom </th>
        <th> Rôle</th>
        <th> Temps de jeu </th>
        <th> Points marqué </th>
        <th> Lancer franc </th>
        <th> Panier à 2pts </th>
        <th> Panier à 3 pts </th>
        <th> Fautes </th>
        <th> Rebond </th>
        <th> Revirement </th>
        <th> Vol de balle </th>
        <th> Assistance </th>
      </tr>
    </thead>
    <tbody>
      {% for joueur in joueurs2 %}
      <tr onclick="document.location='/joueur/{{joueur[0]}}'">
       <td> {{joueur[1]}} </td>
       <td> {{joueur[2]}} </td>
       <td> {{joueur[3]}} </td>
       <td> {{joueur[4]}} </td>
       <td> {{joueur[5]}} min </td>
       <td> {{joueur[10]+2*joueur[11]+3*joueur[12]}} </td>
       <td> {{joueur[10]}}</td>
       <td> {{joueur[11]}} </td>
       <td> {{joueur[12]}} </td>
       <td> {{joueur[6]}}</td>
       <td> {{joueur[7]}}</td>
       <td> {{joueur[8]}} </td>
       <td> {{joueur[13]}} </td>
       <td> {{joueur[9]}} </td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
</div>
<!-- bloc d'informations sur les actions de la partie -->
<div class="cover">
  <h1>Liste des actions de la partie : </h1>
  <table class="list list-horizontal list-highlight">
    <thead>
      <tr>
        <th> Instant </th>
        <th> Action </th>
        <th> Equipe</th>
        <th> Nom du joueur </th>
        <th> Prénom du joueur </th>
      </tr>
    </thead>
    <tbody>
     {% for action in actions %}
     <tr>
      <td> {{action[0]}} </td>
      <td> {{action[1]}} </td>
      <td> {{action[2]}} </td>
      <td> {{action[3]}} </td>
      <td> {{action[4]}} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="diagramme">
 <div id="donutchart"></div>
 <div id="donutchart2"></div>
</div>

</div>
</div>
</body>
<!-- script permettant d'ajouter les graphiques-->
<script type="text/javascript">
  nblancer = 0;
  nbrevirement = 0;
  nbrebond = 0;
  nbfaute = 0;
  nbequipeL = 0;
  nbequipeA =0;
  {% for action in actions %}
  if (`{{action[1]}}`=="lancer"){
    nblancer +=1
  }
  else if (`{{action[1]}}`=="revirement"){
    nbrevirement +=1
  }
  else if (`{{action[1]}}`=="rebond"){
    nbrebond +=1
  }
  else if (`{{action[1]}}`=="faute"){
    nbfaute +=1
  }
  if (`{{action[2]}}`==`{{equipes[0]}}`){
    nbequipeL +=1
  }
  else if (`{{action[2]}}`== `{{equipes[1]}}`){
    nbequipeA +=1
  }

  {% endfor %}
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  google.charts.setOnLoadCallback(drawChart2);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Action', 'Nombre'],
      ['Lancer', nblancer],
      ['Revirement',nbrevirement],
      ['Rebond', nbrebond],
      ['Faute', nbfaute],
      ]);

    var options = {
     title: "Répartition du nombre d'actions par type",
     pieHole: 0.4,
   };

   var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
   chart.draw(data, options);
 }
 function drawChart2() {
  var data2 = google.visualization.arrayToDataTable([
    ['Equipe', "Nombre d'actions"],
    [`{{equipes[0]}}`, nbequipeL],
    [`{{equipes[1]}}`,nbequipeA],
    ]);

  var options = {
   title: "Répartition du nombre d'actions par équipe",
   pieHole: 0.4,
 };
 var chart2 = new google.visualization.PieChart(document.getElementById('donutchart2'));
 chart2.draw(data2, options);
}
</script>
</html>