<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='../../static/joueur.css' rel='stylesheet' type='text/css'>
  <title>Partie</title>
</head>
<body>
  <div class="container">
  <header>
    <h2><a href="/"> BasketStats</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/" title="Recherche"> Retour à la recherche</a>
        </li>
      </ul>
    </nav>
  </header>
    <div class="partie">
      <div class="general">
       <h2> Informations générales : </h2>
       <p> Saison: <span class="info">{{info[0]}} </span></p>
       <p> Type :<span class="info"></span> </p>
       <p> Date :<span class="info"> {{info[3]}} </span></p>
       <p> Ville : <span class="info">{{info[2]}}</span></p>
      </div>
      <div class="equipe1">
      <h2> Equipe locale </h2>
       <h2> <span class="info">{{equipes[0]}} </span></h2>
       <h2> {{score_local}}Pts</h2>
      </div>
      <div class="equipe2">
        <h2> Equipe adverse </h2>
        <h2><span class="info">{{equipes[1]}}</span> </h2>
        <h2> {{score_vis}} Pts </h2>
      </div>
    </div> 
    
   <div class="cover">
      <h1>{{equipes[0]}} : liste des joueurs </h1>
      <table class="list list-horizontal list-highlight">
    <thead>
        <tr>
            <th> Numéro </th>
            <th> Nom </th>
            <th> Prénom </th>
            <th> Rôle</th>
            <th> Temps de jeu </th>
            <th> Points marqué </th>
            <th> Lancer franc </th>
            <th> Panier à 2pts </th>
            <th> Panier à 3 pts </th>
            <th> Fautes </th>
            <th> Rebond </th>
            <th> Revirement </th>
            <th> Vol de balle </th>
            <th> Assistance </th>
        </tr>
    </thead>
    <tbody>
       {% for joueur in joueurs1 %}
        <tr onclick="document.location='/joueur/{{joueur[0]}}'">
            <td> {{joueur[1]}} </td>
            <td> {{joueur[2]}} </td>
            <td> {{joueur[3]}} </td>
            <td> {{joueur[4]}} </td>
            <td> {{joueur[5]}} min </td>
            <td> Points marqué </td>
            <td> Lancer franc </td>
            <td> Panier à 2pts </td>
            <td> Panier à 3 pts </td>
            <td> Fautes </td>
            <td> Rebond </td>
            <td> Revirement </td>
            <td> Vol de balle </td>
            <td> Assistance </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  </div>
  <div class="cover">
      <h1>{{equipes[1]}} : liste des joueurs </h1>
      <table class="list list-horizontal list-highlight">
    <thead>
        <tr>
            <th> Numéro </th>
            <th> Nom </th>
            <th> Prénom </th>
            <th> Rôle</th>
            <th> Temps de jeu </th>
            <th> Points marqué </th>
            <th> Lancer franc </th>
            <th> Panier à 2pts </th>
            <th> Panier à 3 pts </th>
            <th> Fautes </th>
            <th> Rebond </th>
            <th> Revirement </th>
            <th> Vol de balle </th>
            <th> Assistance </th>
        </tr>
    </thead>
    <tbody>
        {% for joueur in joueurs2 %}
        <tr onclick="document.location='/joueur/{{joueur[0]}}'">
            <td> {{joueur[1]}} </td>
            <td> {{joueur[2]}} </td>
            <td> {{joueur[3]}} </td>
            <td> {{joueur[4]}} </td>
            <td> {{joueur[5]}} min </td>
            <td> Points marqué </td>
            <td> Lancer franc </td>
            <td> Panier à 2pts </td>
            <td> Panier à 3 pts </td>
            <td> Fautes </td>
            <td> Rebond </td>
            <td> Revirement </td>
            <td> Vol de balle </td>
            <td> Assistance </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  </div>
<div class="cover">
      <h1>Liste des actions de la partie : </h1>
      <table class="list list-horizontal list-highlight">
    <thead>
        <tr>
            <th> Instant </th>
            <th> Action </th>
            <th> Equipe</th>
            <th> Nom du joueur </th>
            <th> Prénom du joueur </th>
        </tr>
    </thead>
    <tbody>
         {% for action in actions %}
        <tr>
            <td> {{action[0]}} </td>
            <td> {{action[1]}} </td>
            <td> {{action[2]}} </td>
            <td> {{action[3]}} </td>
            <td> {{action[4]}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  </div>
</div>

</body>
</html>